table {
    margin-top: 3vh;
    display: block;
    height: 50vh;
    overflow: auto;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
}
input {
    padding: 16px 12px;
    width: 20vw;
    margin: 5vh 5vw;
    border: none;
    border-radius: 16px;
    margin-bottom: 5px;
}
thead {
    background: #F3F6FD;
}

th {
    padding: 16px 30px;
}
td {
    padding: 10px 12px;
    outline: none;
    text-align: center;
    border: none;
}
td img {
    height: 50px;
    margin: 0 18px;
}
tr:nth-child(even) {
    background: #f5f8ff;
}
p.success {
    padding: 10px 30px;
    background: #78ffae75;
    width: fit-content;
    border-radius: 10px;
    font-size: 14px;
}
p.failed {
    padding: 10px 30px;
    background: #ff787875;
    width: fit-content;
    border-radius: 10px;
    font-size: 14px;
}
td button {
    border: none;
    background: transparent;
    width: fit-content;
    padding: 0;
}
td button img {
    height: 32px !important;
    margin: 0 8px !important;
    transition: all .35s;
}
td button img:hover {
    transform: translateY(-3px);
}
h2.title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 2vh;
    color: #160647;
}
form.assignment-form button:hover {
    transform: translateY(-4px);
    justify-content: space-between;
}
form.assignment-form button {
    color: #fff;
    padding: 16px;
    width: 160px;
    text-align: center;
    background: #26124E;
    border: none;
    align-items: center;
    border-radius: 16px;
    transition: all .35s;
    height: fit-content;
}
form.assignment-form {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
}
.assignment-form input, .assignment-form select { 
    padding: 16px 12px;
    margin: 0 40px;
    border: none;
    border-radius: 16px;
    margin-bottom: 0;
    width: fit-content !important;
    max-width: 260px;
    margin-left: 0;
    background: #f1f5f7;
}
.search {
    margin-top: 10vh;
    margin-left: 0;
    padding-left: 50px;
    position: relative;
}
.search::placeholder {
    color: #A19AED !important;
}
.inputs {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: flex-end;
}
h3.add-title {
    color: #160647;
    margin: 0;
    font-weight: 500;
}
.input-gpe p {
    font-size: 14px;
}
.search-box img {
    position: absolute;
    left: 14px;
    bottom: 18px;
    z-index: 100;
    height: 22px;
}
.search-box {
    position: relative;
}
