<div class="updates">
    <div class="topflex">
        <h3 class="description-title">Assignments</h3>
        <button class="addAssignment" (click)="updateAdd()">+ Add an assignment</button>
    </div>
    <div class="updates-wrapper" *ngIf="assignments.length != 0">
        <div class="assignment" *ngFor="let assignment of assignments">
            <div class="first-row">
                <div class="employee">
                <div class="left">
                    <img src="{{assignment.employee.personne.profilPicture}}" alt="#" />
                </div>
                <div class="right">
                    <div class="name">
                        <p>{{assignment.employee.personne.nom}}
                         {{assignment.employee.personne.prenom}}</p></div>
                    <div class="speciality">
                        <p>{{assignment.employee.speciality}}</p></div>
                </div>
                </div>
                <div class="action">
                    <img src="assets/icons/trash.svg" alt="#" (click)="removeAssignment(assignment.idAffectation)"/>
                </div>
            </div>
            
            <div class="mission">
                <p><span>Mission:</span>{{assignment.mission}}</p>
            </div>
        </div>  
    </div>
    <div class="updates-wrapper" *ngIf="assignments.length == 0">
        <p class="none">
            There are no assignments yet.
        </p>
    </div>
</div>